body {
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.box-model {
    text-align: center;
    width: 400px; 
}

.margin, .border, .padding, .content {
    padding: 20px; 
    box-sizing: border-box;
    width: 100%;
}

.margin {
    background-color: #e62222; 
}

.border {
    background-color: #2d89c7ee; 
}

.padding {
    background-color: #eaf829f9; 
}

.content {
    background-color: #0e6a58; 
    padding: 50px 20px; 
}