<style>
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        text-align: center;
        border-style: dotted;
        border-color: #151614;
    }

    th, td {
        padding: 10px;
        border: 2px solid black;
        border-color: #151614;
        font-family: Arial, sans-serif;
        background-color: aqua;

    }

    th {
        background-color: #ef0a0a;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #df7070;
    }


</style>